<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
	<meta charset="UTF-8">
	<script><% include('_prefetch'); %></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chorme=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<title>「相続の専門家」が</title>
	<link rel="stylesheet" href="<%= path.css; %>style.css">
</head>
<body>
	<header id="topbar" class="l-topbar">
		<div class="row align-middle align-justify">
			<div class="column small-8 medium-6"><a href="<%= path.home; %>" title="トップページへ戻る" class="l-topbar_logo"><img src="<%= path.img; %>logo/topbar.png" alt="はなまる相続のロゴ"></a></div>
			<div class="column small-4 medium-6"><a href="tel:0825638700" class="button l-topbar_button l-button_waves" title="相続のお話をしましょう。"><i class="fa fa-phone"></i><span class="show-for-medium">082-563-8700<span class="l-topbar_desc">平日10：00～17：00</span></span></a></div>
		</div>
	</header>
	<div class="row">
		<div class="column">
			<div id="hero" class="l-hero">
				<h1 class="l-hero_title"><img src="<%= path.img; %>hero-title.png" alt="あなたに必要な「相続の専門家」をご用意します。"></h1>
				<div class="l-hero_bg"><img src="<%= path.img; %>hero-ver02.png" alt="無料の相続相談のイメージ"></div>
				<div class="l-hero_desc">
					<h2 class="l-hero_subtitle"><img src="<%= path.img; %>hero-subtitle.png" alt="厳正な審査をクリアした専門家集団による無料の相続相談"></h2>
					<p class="l-hero_text"><img src="<%= path.img;  %>hero-desc.png" alt="はなまる相続は、特定の専門家だけに頼らず、本当に必要な専門家らの知識で解決します。"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="l-section f-worrybox">
		<div class="row text-center">
			<div class="column">
				<h2 style="display: inline-block">＼はなまる相続だからできる／<br>相続のお悩み全てを解決します。</h2>
				<ul class="l-worrybox row small-up-1 large-up-2 no-bullet">
					<li class="column l-worrybox_itemWrapper">
						<div class="l-worrybox_item">
							<div class="row align-middle">
								<div class="column">
									<div class="l-worrybox_number">お悩み<span>1</span></div>
									<p class="l-worrybox_title">誰に相談したらいいの？</p>
								</div>
							</div>
						</div>
					</li>
					<li class="column l-worrybox_itemWrapper">
						<div class="l-worrybox_item">
							<div class="row align-middle">
								<div class="column">
									<div class="l-worrybox_number">お悩み<span>2</span></div>
									<p class="l-worrybox_title">相続対策って私もしないとダメ？何をすればいいの？</p>
								</div>
							</div>
						</div>
					</li>
					<li class="column l-worrybox_itemWrapper">
						<div class="l-worrybox_item">
							<div class="row align-middle">
								<div class="column">
									<div class="l-worrybox_number">お悩み<span>3</span></div>
									<p class="l-worrybox_title">大切な家族が「相続」で、もめるのはイヤだ</p>
								</div>
							</div>
						</div>
					</li>
					<li class="column l-worrybox_itemWrapper">
						<div class="l-worrybox_item">
							<div class="row align-middle">
								<div class="column">
									<div class="l-worrybox_number">お悩み<span>4</span></div>
									<p class="l-worrybox_title">相続税を少しでも節約したい</p>
								</div>
							</div>
						</div>
					</li>
					<li class="column l-worrybox_itemWrapper">
						<div class="l-worrybox_item">
							<div class="row align-middle">
								<div class="column">
									<div class="l-worrybox_number">お悩み<span>5</span></div>
									<p class="l-worrybox_title">遺言は書いたほうがいいの？</p>
								</div>
							</div>
						</div>
					</li>
					<li class="column l-worrybox_itemWrapper">
						<div class="l-worrybox_item">
							<div class="row align-middle">
								<div class="column">
									<div class="l-worrybox_number">お悩み<span>6</span></div>
									<p class="l-worrybox_title">遺産をどう分けたらいいか迷っている</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="l-worrybox_cta"></div>
			</div>
		</div>
	</div>